@import url(base.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-slate-300);
  font-family: var(--font-family-base);
}
.container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.qr-code {
  width: 100%;
}
.qr-code img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.container h1 {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  color: var(--color-slate-900);
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.container p {
  text-align: center;  
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--color-slate-500);
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
